*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif; 
}

a{
    color: white;
    text-decoration: none;
}

.body{
    margin-top: 30px;
}

.main{
    display: flex;
}


.top-header{
    height: 33px;
    display: flex;
    padding: 0 145px;
    justify-content:space-between;
    color: #333333;
    line-height: 25.6px;
    background-color: #ededed;
}

.top-header-title{
    padding-left: 15px;
}

.top-header-list{
    padding-right: 15px;
}

.top-header-list>ul>li>a:hover{
    color: red;
}

.top-header-list ul{
    align-items: center;
    color: #333333;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    line-height: 25.6px;
    list-style: none;
}

.top-header-list ul li{
    height: 15px;
    margin-top:5px;
    padding: 0 10px;
    border-right: 1px solid #ccc;
}

.top-header-list ul li:last-child{
    border: none;
}

.top-header-title a{
    color: #484848;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 22.4px;
    text-align: left;
}

.top-header-list a{
    height: 20px;
    padding: 8 0px;
    color:#4d4646;
    flex-wrap:wrap;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22.4px;
    text-align:left;

}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.main-header{
    display: flex;
    z-index: 9999;
    height:93px;
    padding: 0 15px;
    background-color: white;
}

.logo{
    /* width: 280px; */
    height:80px;
    margin-left: 145px;
}

.logo>a{
    width: 100%;
    height:100%;
}

.search-box{
    align-self: center;
}

.search-box .box{
    width: 466px;
    height: 32px;
    padding: 0 9px;
    color: #333333;
    font-family:'Roboto';
    font-size: 13.192px;
    line-height: 32px;
    border: 1px solid #ccc;
    border-radius: 20px 0 0 20px;
    
}

.search-box .button{
    width: 33px;
    height:33px;
    margin-left: -5px;
    background-color: #099357;
    border: 1px solid #ccc;
    border-radius: 0 20px 20px 0;
}

.hotline{
    width: 246px;
    height: 44px;
    align-self: center;
    margin: 0 17px 0 27px;
    padding-left: 45px;
    background-image: url(../Img/hotline.png);
    background-position: 0px 2px;
    background-repeat: no-repeat;
}

.hotline p{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}

.hotline p span{
    color: red;
}

.hotline>span{
    color: #6b6e6b;
    font-size: 13px;
    font-family: 'Roboto';
    line-height:20.8px;
}



.cart{
    width: 94px;
    height: 32px;
    text-align: center;
    align-self: center;
    border: 1px solid #099357;
    border-radius: 20px;
    font-family: 'Roboto';
    font-size: 13px;
    line-height:32px
}

.cart i{
    margin-left: 6px;
    color: #979da5;
}

.cart span{
    margin: 0 8px;
    color: #484848
}

#cartDiv:hover i {
    color: #099357;
}

#cartDiv:hover span {
    color: #099357;
}

.menu{
    background-color: #19523E;
    padding-left: 160px;
}

.menu>ul>li{
    display: inline-block;
    padding: 15px;
    text-transform: uppercase;
    position: relative;
    color: white;
}

.menu>ul>li:hover{
    background-color:#07724C;
}

.menu>ul>li>ul{
    display:none;
    position: absolute;
    list-style: none;
    top: 48px;
    left: 0;
    width: 215px;
    background-color: white;
}

.menu>ul>li:hover>ul{
    display: block;
}

.menu>ul>li>ul>li{
    padding: 15px 10px;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    height: 41px;
}

.menu>ul>li>ul>li>a>i{
  padding-right: 10px;
}

.list-product-main>ul>li>a:hover{
    color: #099357;
}

.list-product-main>ul>li>a>i{
    margin-right: 10px;
}

.menu>ul>li>a{
    font-weight: 500;
    font-size: 15px;
}

.menu>ul>li>ul>li:hover{
    background-color: #d9dddf;
}

.menu>ul>li>ul>li>a{
    color: black !important;
    font-size: 13px;
}


#goToTopBtn {
    width: 35px;
    height: 35px;
    display: none;
    position: fixed;
    bottom: 20px;
    margin-left: 700px;
    right: 20px; 
    padding: 10px;
    background-color: white;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid black;
}

#goToTopBtn:hover {
    background-color: #07724C;
    border: 1px solid white;
}

/* .back-ground{
    width: 1519px;
} */

.title-top{
    padding-top: 20px;
    margin-bottom: 20px;
}

.title-top h3{
    text-align: center;
    font-size: 26px;
    line-height: 41.6px;
    padding: 0px 15px;
}


/* .top{
    width: 930px;
} */

/* .top-product{
    display: flex;
    justify-content: space-between;
} */

.top-product {
    display: flex;
    flex-wrap: wrap; /* Cho phép các sản phẩm xuống dòng */
    justify-content: left; /* Căn đều */
    gap: 16px; /* Khoảng cách giữa các sản phẩm */
    width: 100%; /* Đảm bảo chiều rộng đầy đủ */
    box-sizing: border-box; /* Bao gồm padding, border */
    padding-right: 70px;
}

.top-product > div {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px); 
    box-sizing: border-box;
    margin-bottom: 40px;
}




.shop-page-title{
    height: 40px;
    background-image: linear-gradient(to right, #0E773E 138px, gray 50px);
    background-size: 100% 2px; 
    background-position: bottom;
    background-repeat: no-repeat;
}

.page-title-inner{
    display: flex;
    justify-content: space-between;
}

.page-title h1{
    text-transform: uppercase;
    font-weight: 500;
}

.woocommerce-ordering {
    display: flex;
    align-items: center;
}

.woocommerce-ordering p {
    margin: 0;
    margin-right: 10px;
    color: #777777;
    font-weight: 13px;
    font-weight: 500;
}

.select-wrapper {
    position: relative;
    margin-bottom: 26px;
}

.select-wrapper .orderby {
    padding: 8px;
    /* width: 250px;  */
}

/* .top img{
    padding: 15px;
}

.top-left, .top-center, .top-right{
    width: 276px;
    height: 430px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
}  */





.top ins{
    color:red;
    text-decoration: none;
    font-weight: 700;
}

.top ins {
    float: left; 
    padding-left: 41px;
}

.top del {
    float: right; 
    padding-right: 41px;
}

/* Đảm bảo không bị ảnh hưởng bởi float */
.top::after {
    content: "";
    display: table;
    clear: both;
}

.dathang{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    
}

.chitiet{
    padding-top: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    color: white;
    width: 137px;
    height: 33px;
    border: 1px solid black;
    text-transform: uppercase;
    border-radius: 20px;
    background-color: #0E773E;
    text-align: center;
}

.top-img {
    position: relative;
    display: inline-block; 
}

.discount-circle {
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: #F0543E;
    width: 50px;
    height: 25px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-weight: 200;
    font-size: 15px;
  }

  .add-product{
    display: none;
    position: absolute;
    bottom: 10px;
    left: 20px;
  }

  .top-img:hover .add-product {
    display: block;
}

.top-img {
    overflow: hidden; 
}

.top-img img {
    transition: transform 0.3s ease-in-out;
    max-width: 100%; 
    max-height: 100%; 
}

.top-img:hover img {
    transform: scale(1.1);
}

.chitiet:hover{
    background-color: white;
    color: #0E773E;
}

.top p{
    color: #333333;
    padding: 10px;
    height: 45px;
    margin-bottom: 20px;
    font-weight: 700;
}

/* tin tức sự kiện  */
.main-event {
    display: flex;
    /* width: 1185px; */
    margin-left: 160px;
    justify-content: space-between;
}

.envent-box-img img{
    width: 100%;
    height: 100%;
}

.envent-box-img{
    height: 213px;
    width: 380px;
    margin-bottom: 15px;
}

.event-box-text{
    width: 380px;
}

.event-box-text h5{
    color: black;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 16.56px;
    line-height: 21px;
    border-bottom: 1px dotted gray;
}

.event-box-text p{
    color: gray;
    margin-bottom: 15px;
    font-size: 14.4px;
    line-height: 23.04px;
}

footer{
    background-color: #19523E;
    height: 370px;
    margin-top: 40px;
}

.main-footer{
    display: flex;
    justify-content: space-between;
    margin-left: 160px;
    padding-top: 20px;
    width: 1200px;
    border-bottom: 1px solid black;
}

.footer-box1{
    padding: 15px;
}

.main-footer h2{
    color: white;
    text-transform: uppercase;
    line-height: 30px;
    font-size: 16px;
    font-weight: 500;
}

.main-footer p{
    color: white;
    margin-bottom: 13px;
    font-size: 13px;
}

.footer-box1>ul>li{
    list-style: none;
    margin-bottom: 13px;
}

.footer-box1>ul>li>a>i{
    padding-right: 5px ;
}



.footer-box1>ul>li>a{
    font-size: 13px;
    line-height: 22px;
}

.footer-box1>ul>li>a:hover{
    color: #0E773E;
}

.widgettitle{
    margin-bottom: 10px;
}

.extra-footer{
    margin-top: 30px;
    margin-left: 160px;
}

.extra-footer p{
    color: white;
    font-size: 15px;
}

.adver{
    margin-left: 160px;
    width: 1200px;
}

.list-product{
    width: 270px;
    margin-left: 160px;
    padding: 0px 15px;
}

.list-product-title{
    width: 100%;
    border: 1px solid gray;
    text-align: center;

    background-color: #0E773E;
    height: 40px;
    border: 1px solid #0E773E;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.list-product-title span{
    color: white;
    line-height: 40px;
}

.list-product-main>ul>li>a{
    text-decoration: none;
    color: black;
    line-height: 42px;
}

.list-product-main{
    margin-top: 1px;
}

.list-product-main>ul>li{
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    list-style: none;
    height: 42px;
    padding-left: 15px;
}
.li-end{
    border-bottom: 1px solid gray;
}

.advise{
    margin-top: 20px;
}

.advise-main{
    margin-top: 1px;
    width: 240px;
    height: 270px;
    border: 1px solid gray;
}

.input-text{
    width: 220px;
    height: 30px;
    margin: 10px;
}

.text-area{
    width: 220px;
    height: 120px;
    margin-left: 10px;
}

.sbm{
    background-color: #19523E;
    color: white;
    width: 110px;
    height: 35px;
    float: right;
    margin-right: 10px;
    text-transform: uppercase;
}


.button-container {
    display: flex;
    justify-content: center;
    /* margin-left: 857px;
    margin-top: 30px; */
  }

  .button-container button {
    width: 34px;
    height: 34px;
    border: 2px solid #19523E;
    border-radius: 50%;
    margin: 5px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .button-container button:hover {
    background-color: #19523E;
    color: #fff;
  }

  /* Màu nền của button khi được chọn */
  .button-container button.active {
    background-color: #19523E;
    color: #fff;
  }

.footer-box1>ul>li>a>i{
    margin-right: 5px;
}

.page-title h1{
    font-size: 25px;
    font-weight: 500;
    line-height: 33px;
}

.top-box-text{
    text-align: center;
}
  /* ------------------------------ */
  
@media only screen and (max-width: 46.1875em) {
    .list-product, .menu {
        display: none;
    }
    
    .logo{
        width: 54%;
        margin-left: 0;
    }

    .search-box, .hotline, .top-header {
        display: none;
    }

    .header {
        width: 100%;
    }

    .main-header {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        overflow: visible;
    }

    .cart{
        margin-left: 35px;
    }

    .menu-mobile {
        display: inline;
        margin-left: 20px;
    }

    .woocommerce-ordering{
        width: 100%;
    }

    .page-title-inner{
        width: 100%;
    }

    

    .top-product {
        flex-wrap: wrap; 
    
    }

    .top-product > div {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px); 
        box-sizing: border-box;
    }

    .top-product > div:only-child {
        flex: 1 1 100px; /* Khi chỉ có 1 div, nó chiếm chiều rộng tối đa là 300px */
        max-width: 100px; /* Đảm bảo không lớn hơn 300px */
        justify-self: center; /* Căn giữa nếu nó đứng một mình */
    }
    /* .main-header {
        display: none;
    } */

    .top ins {
        float: left; 
        padding-left: 15px;
        font-size: 12px;
    }
    
    .top del {
        float: right; 
        padding-right: 15px;
        font-size: 12px;
    }

    .top p{
        font-size: 13px;
    }

    .top-product {
        padding-right: 0;
    }
}